@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Commerce.DemoStore.Models;
@{
	Layout = null;
}


<h1>@Model.Value("test") This is another home page</h1>